<label>
  <span class="name"></span>
  <span class="inline_help"></span>
</label>
<input
  type="url"
  required pattern="https://localfocus2.appspot.com/.*"
  placeholder="https://localfocus2.appspot.com/551a9626918b3"
/>
