<label>
  <span class="name"></span>
  <span class="inline_help"></span>
  <input
    type="url"
    required pattern="https://localfocus2.appspot.com/.*"
    title="Only localfocus URLs are allowed"
    placeholder="https://localfocus2.appspot.com/551a9626918b3"
  />
</label>
<div class="validation"></div>
<div class="status_container"></div>
